---
import type { GetStaticPaths } from "astro";
import Layout from "@/layouts/Layout.astro";
import { wpQuery } from "@/lib/wpQuery";
import { Page } from "@/lib/wpResources";
import PageWrapper from "@/components/PageWrapper.astro";
import Breadcrumb, {
  type BreadcrumbParams,
} from "@/components/Breadcrumb/Breadcrumb.astro";
import WPContent from "@/components/WP/WPContent.astro";

export type Props = {
  title: string;
  content: string;
  seo: {
    title: string;
    metaDesc: string;
    opengraphImage: {
      sourceUrl: string;
    };
    schema: {
      pageType: string;
    };
  };
};

const { slug: pageSlug } = Astro.params;
const { title, content, seo } = Astro.props;

export const getStaticPaths = (() => {
  const data = wpQuery({
    query: Page.NODES,
  });

  return data.then(({ pages }) => {
    return pages.nodes.map((page: any) => ({
      params: { pageSlug: page.slug },
      props: { ...page },
    }));
  });
}) satisfies GetStaticPaths;

const pageBc = {
  name: title,
  slug: pageSlug,
} satisfies BreadcrumbParams;
---

<Layout title={pageBc.name} {seo}>
  <PageWrapper classes="px-5 py-20 sm:px-20 triangle">
    <div slot="main-header" class="z-10 relative">
      <Breadcrumb breadcrumbs={[pageBc]} />
    </div>
    <article title={title} class="mx-auto max-w-2xl p-4 sm:pb-25 lg:max-w-6xl">
      <header>
        <h1 class="font-bold text-4xl" set:html={title} />
      </header>
      <hr class="text-theme-grey-medium" />
      <WPContent class="my-5 wp-page">
        <Fragment set:html={content} />
      </WPContent>
    </article>
  </PageWrapper>
</Layout>

<style>
  @media (min-width: 640px) {
    :global(.triangle) {
      clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
    }
  }

  .wp-page :global(p) {
    color: var(--color-theme-grey-medium);
  }
</style>
