---
import type { GetStaticPaths } from "astro";
import Layout from "@/layouts/Layout.astro";
import { wpQuery, type GqlParams } from "@/lib/wpQuery";
import { Post } from "@/lib/wpResources";
import { formatDate } from "@/lib/utils/format";
import PageWrapper from "@/components/PageWrapper.astro";
import Breadcrumb, {
  type BreadcrumbParams,
} from "@/components/Breadcrumb/Breadcrumb.astro";
import WPContent from "@/components/WP/WPContent.astro";
import {
  SocialShare,
  TwitterShareButton,
  BlueskyShareButton,
  LinkedInShareButton,
  WhatsAppShareButton,
} from "astro-social-share";

const { postSlug: slug } = Astro.params;

if (!slug) return Astro.redirect("/404");

export const getStaticPaths = (() => {
  const data = wpQuery({
    query: Post.ALL_SLUG,
  });

  return data.then(({ posts }) => {
    return posts.nodes.map((post: any) => ({
      params: { postSlug: post.slug },
    }));
  });
}) satisfies GetStaticPaths;

const { postBy: post } = await wpQuery({
  query: Post.BY_SLUG,
  variables: { slug },
} satisfies GqlParams);

const {
  excerpt,
  title,
  content,
  dateGmt,
  featuredImage: img = false,
  seo,
} = post;

const date = formatDate(dateGmt);

const blogBc = {
  name: "Blog",
  slug: "blog",
  url: "/blog",
} satisfies BreadcrumbParams;

const postBc = {
  name: title,
  slug: slug,
} satisfies BreadcrumbParams;

const sizeBack = img ? "h-[85%] md:h-[35%] xl:h-[60%]" : "h-[360px]";
---

<Layout title=`${blogBc.name} - ${postBc.name}` {seo}>
  <div class=`bg-theme-black absolute w-full ${sizeBack} z-10 triangle`></div>
  <PageWrapper classes="px-5 py-20 sm:px-20 z-0" bgColor="bg-white">
    <div slot="main-header" class="z-10 relative">
      <Breadcrumb breadcrumbs={[blogBc, postBc]} />
    </div>
    <article
      title={title}
      class="mx-auto max-w-2xl p-4 lg:max-w-6xl z-10 relative"
    >
      <header class="container mx-auto max-w-xl text-center">
        <h1 class="font-bold text-4xl" set:html={title} />
        <div class="my-4 text-primary-light">
          <Fragment set:html={excerpt} />
        </div>
        <hr class="text-theme-grey-dark" />
        <div
          class="text-xs md:text-sm font-medium my-6 text-left text-primary-light"
        >
          <time>{date}</time>
        </div>
      </header>
      <div class="container mx-auto max-w-2xl">
        {
          img && (
            <img
              class="object-cover object-center w-full h-50 md:h-96"
              src={img.node.sourceUrl}
              alt={img.node.altText}
              srcset={img.node.srcSet}
            />
          )
        }
      </div>
      <WPContent class="container mx-auto py-6 max-w-3xl text-theme-black">
        <Fragment set:html={content} />
      </WPContent>
      <div class="container mx-auto py-6 max-w-2xl text-theme-black">
        <p>SHARE:</p>
        <SocialShare
          buttons={[
            TwitterShareButton,
            BlueskyShareButton,
            LinkedInShareButton,
            WhatsAppShareButton,
          ]}
          description={seo.metaDesc}
          title={title}
        />
      </div>
    </article>
  </PageWrapper>
</Layout>

<script>
  document.addEventListener("astro:page-load", function () {
    document.querySelectorAll("pre code").forEach((block) => {
      const html = block.innerText
        .replace(/(\/\/.*)/g, '<span class="comment">$1</span>')
        .replace(/(#.*)/g, '<span class="comment">$1</span>');

      block.innerHTML = html;
    });
  });
</script>

<style>
  @media (min-width: 640px) {
    :global(.triangle) {
      clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
    }
  }

  .wp-page :global(h2) {
    font-size: var(--text-3xl);
    line-height: var(--tw-leading, var(--text-3xl--line-height));
  }

  .wp-page :global(p) {
    color: var(--color-theme-black);
  }
</style>
