---
export type Prop = {
  excerpt: string;
  title: string;
  slug: string;
  dateGmt: string;
  featuredImage: boolean;
  edges: { tags: string[] };
};

const {
  excerpt,
  title,
  slug,
  dateGmt,
  featuredImage: img = false,
  tags: { edges: tags },
} = Astro.props;

const date = new Date(dateGmt).toLocaleDateString("en-US", {
  month: "long",
  day: "numeric",
  year: "numeric",
});
---

<article class="blog-card bg-theme-black my-2 z-0">
  <a class="read-more" href=`/post/${slug}` data-astro-history="replace">
    <div class="blog-card-flex flex flex-col-reverse md:flex-row p-6">
      <div class="card-body text-theme-grey-medium flex-1">
        <div class="flex flex-col p-6 h-full">
          <div class="card-date text-xs md:text-sm font-medium mb-6">
            <time>{date}</time>
          </div>
          <div class="card-title mb-2 text-white">
            <h3 class="title text-lg md:text-4xl font-semibold">{title}</h3>
          </div>
          <div class="divider"></div>
          <div
            class="card-excerpt text-white text-base md:text-xl min-h-24 h-full flex justify-between flex-col mb-2"
          >
            <div
              class="paragraph text-justify leading-normal font-light"
              set:html={excerpt}
            />
          </div>
          <div class="text-sm">
            <p class="tagline">
              {
                tags.length > 0 &&
                  tags.map(({ node }: any) => <span>{node.name} </span>)
              }
            </p>
          </div>
        </div>
      </div>
      <div
        class="media grid min-h-[140px] w-full place-items-center overflow-x-scroll rounded-lg lg:overflow-visible flex-1"
      >
        {
          img && (
            <img
              class="object-cover object-center w-full h-50 md:h-96"
              src={img.node.link}
              alt={img.node.altText}
            />
          )
        }
      </div>
    </div>
  </a>
</article>
